<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringBootActivemq:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringBootActivemq_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringBootActivemq/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringBootActivemq" />
        </element>
      </element>
    </root>
  </artifact>
</component>